.Izq-Button button{
    width: 350px;
    height: 60px;
    background-color: #4f8a8b;
    color: white;
    border-radius: 20px;
    border: none;
}
.Izq-Button{
    width: 350px;
    height: 50px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 50px;
}