.Post{
    background-color: #164463;
    height: 500px;
    display: grid;
    border-radius: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 80px;
    color: white;
    &-Superior{
        display: grid;
        grid-template-columns: 100px 1fr;
        h1{
            margin-left: 90px;
        }
        img{
            height: 80px;
        }
    }
    &-Comentario{
        display: grid;
        grid-template-columns: 1fr 1fr;
        input{
            height: 50px;
            width: 600;
            margin-top: 25px;
            margin-right: 50px;
            border-radius: 20px;
        }
        img{
            height: 80px;
            margin-top: 10px;
            margin-left: 30px;
        }
    }
}