.Footer{
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: #ffcb74;
}

.Footer img{
    margin-top: 10px;
    margin-right: 30px;
    height: 40px;
    cursor: pointer;
}
.Footer-mensaje{
    justify-items: flex-end;
}

